*{
    margin: 0px;
    padding: 0px;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


header{
    display: flex;
    flex-direction: row;
    background-color:#000000;
    grid-area: he;
    justify-content: center;
    align-items: center;
    z-index: 3;
    


}

footer{
    display: flex;
    flex-direction: column;
    background-color:#000000;
    grid-area: fo;

}

#ChipIcon{
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: relative;
    top:0;
    left: 10px;
}

#PokerList{
    margin-left: 10px;
}

#PokerList h2{
    color: white;
    margin-bottom: 10px;
}

#PokerList a{
    color: white;
    margin-left: 15px;
    list-style: none;
    text-decoration: none;
    
    
}

#PokerList a:hover{
    color: #ababab;
}



#Titel{
    color: #e5e5e5;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-left: calc(50% - 160px);
}

#sec1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url("../img/CardThrow.jpg");
    background-size: 100% 100%;
    grid-area: se1;
}

#DownLoadButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 175px;
    height: 30px;
    border:3px solid #fca311;
    border-radius: 25px;
    margin-bottom: 10px;
    z-index: 1;

}

#DownLoadButton:hover{
    cursor: pointer;
    background-color: #000000;
    width: 175px;
    height: 30px;
    border:3px solid #fca311;
    border-radius: 25px;
    margin-bottom: 11px;
}



#DownLoadButtonShadow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    width: 175px;
    height: 30px;
    border:3px solid #232323;
    border-radius: 25px;
    margin-bottom: 10px;
    position:relative;
    top:48px;
    z-index: 0;
}

#CopyrightText{
    margin-top: auto;
    color: white;
    font-size: 0.6rem;
}

#DownLoadButtonText{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e5e5e5;
}

#linesection{
    background-color: #fca311;
    grid-area: ls;
    z-index: 3;
   
}

#KontaktInformation{
    display: flex;
    background-color: #232323;
    grid-area: KI;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#LineSection3{
    background-color: #fca311;
    grid-area: l3;
}

#Kontakt{
    color: white;
}

#FacebookIcon{
    width: 40px;
    height: 40px;
}

#InstagramIcon{
    width: 40px;
    height: 40px;
}

#TwitterIcon{
    width: 40px;
    height: 40px;
}

#gridwrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 5px 300px 100px 450px 5px 50px 5px 200px;
    grid-template-areas: 
    "he he"
    "ls ls"
    "se1 se1"
    "tes tes"
    "bs1 bs1"
    "l2 l2"
    "KI KI"
    "l3 l3"
    "fo fo"
    ;
}

#OmOssGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 5px 300px 100px 950px 5px 50px 5px 200px;
    grid-template-areas: 
    "he he"
    "ls ls"
    "se1 se1"
    "tes tes"
    "PB PB"
    "l2 l2"
    "KI KI"
    "l3 l3"
    "fo fo"
    ;
}

#HittaHitGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 5px 300px 350px 150px 5px 50px 5px 200px;
    grid-template-areas: 
    "he he"
    "ls ls"
    "se1 se1"
    "RS RS"
    "tes tes"
    "l2 l2"
    "KI KI"
    "l3 l3"
    "fo fo"
    ;
}

#ProdukterGrid{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 5px 300px 700px 5px 50px 5px 200px;
    grid-template-areas: 
    "he he"
    "ls ls"
    "se1 se1"
    "PS1 PS2"
    "l2 l2"
    "KI KI"
    "l3 l3"
    "fo fo"
    ;
}

#ProduktSec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: PS1;

}

#ProduktSec2{
    grid-area: PS2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProduktBeskrivningar{
    display: flex;
    width: 175px;
    height: 50px;
    border: #000000 solid 5px;
    border-radius: 8px;
    margin-right: 15px;
    background-color: #ababab;
    margin-bottom: 180px;
    position: relative;
    top: 88px;
    align-items: center;
    justify-content: center;
}

#Kortlek{
    background-image: url(../img/DeckOfCards.jpg);
    background-size: 100% 100%;
}

#Tärningar{
    background-image: url(../img/Tärningar.jpg);
    background-size: 100% 100%;
}

#Mugg{
    background-image: url(../img/Mugg.jpg);
    background-size: 100% 100%;
}

.ProduktBilder{
    width: 150px;
    height: 200px;
    border: #000000 solid 5px;
    border-radius: 8px;
    margin-top: 18px;
}


#RoadSection{
    grid-area: RS;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

#RoadDescriptionDiv{
    width: 350px;
    height: 300px;
    border:#000000 solid 5px;
    border-radius: 8px;
    background-image: url(../img/Vägbeskrivning.png);
    background-size: 100% 100%;
}

#links{
    display: flex;
    flex-direction: column;
    background-color:#fca311;
    height: 500px;
    width: 200px;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    right: 0;
    top: -500px;
    transition: all 0.5s;
}

#links li{
    list-style: none;
}

#links a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: monospace;
    font-size: 2rem;
}

#links a:hover{
    font-size: 2.1rem;
    color: azure;
}

#burgare div{
    height: 6px;
    width: 50px;
    border-radius: 10%;
    margin: 10px;
    transition: all 0.5s;
    background-color:#e5e5e5;
}

#burgare{
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:  40px;
    cursor: pointer;
}

.burgertoggle #linje1{
    transform: rotate(-45deg) translate(-15px, 15px);
}

.burgertoggle #linje2{
    opacity: 0;
}

.burgertoggle #linje3{
    transform: rotate(45deg) translate(-8px, -8px);
}

.links_active{
    transform: translateY(585px);
    
}

.DownloadInvis{
    visibility:hidden;
}

#TextSection{
    display: flex;
    grid-area: tes;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    

}

#LineSection2{
    background-color: #fca311;
    grid-area: l2;
}

#BildSektion1{
    grid-area: bs1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#BildText1{
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: #ffff;
    bottom: 50px;
}

#BildText2{
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: #ffff;
    top: 180px;
}

#FoldedCardsImg{
    width: 70%;
    height: auto;
    
}

#CardSpringImg{
    width: 70%;
    height: auto;
    
}

.DiscountImg{
    transition: 0.3s ease; 
    
}

.DiscountImg:hover{
    cursor: pointer; 
    border: #fca311 5px;
    transform: scale(1.1);
    
}

#PersonalBilder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    grid-area: PB;
}

.PersonalNamn{
    font-size: 0.9rem;
    position: relative;
    top: 255px;
    height: 10px;
}


.PersonalKort{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 250px;
    border: #000000 solid 2px;
    border-radius: 10px;
    background-image: url(../img/ElliotCV.jpg);
    background-size: 100% 100%;
    margin-bottom: 50px;
    
}



@media screen and (min-width: 800px){
    #burgare{
        display: none;
    }

    #OmOssGrid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 5px 300px 100px 475px 5px 50px 5px 200px;
        grid-template-areas: 
        "he he"
        "ls ls"
        "se1 se1"
        "tes tes"
        "PB PB"
        "l2 l2"
        "KI KI"
        "l3 l3"
        "fo fo"
        ;
    }

    #HittaHitGrid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 5px 300px 350px 150px 5px 50px 5px 200px;
        grid-template-areas: 
        "he he"
        "ls ls"
        "se1 se1"
        "RS RS"
        "tes tes"
        "l2 l2"
        "KI KI"
        "l3 l3"
        "fo fo"
        ;
    }

    #ProdukterGrid{
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 5px 300px 1250px 5px 50px 5px 200px;
        grid-template-areas: 
        "he he"
        "ls ls"
        "se1 se1"
        "PS1 PS2"
        "l2 l2"
        "KI KI"
        "l3 l3"
        "fo fo"
        ;
    }
    
    #ProduktSec1{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        grid-area: PS1;
    
    }
    
    #ProduktSec2{
        grid-area: PS2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .ProduktBeskrivningar{
        display: flex;
        width: 275px;
        height: 75px;
        border: #000000 solid 5px;
        border-radius: 8px;
        background-color: #ababab;
        position: relative;
        top:55px;
        margin-top: 90px;
    }

    h3{
        font-size: 2rem;
    }

    .ProduktBilder{
        width: 250px;
        height: 325px;
        border: #000000 solid 5px;
        border-radius: 8px;
        margin-top: 18px;
        margin-right: 100px;
    }
    
    #Kortlek{
        background-image: url(../img/DeckOfCards.jpg);
        background-size: 100% 100%;
    }
    
    #Tärningar{
        background-image: url(../img/Tärningar.jpg);
        background-size: 100% 100%;
    }

    #RoadSection{
        grid-area: RS;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    
    }

    .PersonalNamn{
        font-size: 1.4rem;
        position: relative;
        top: 410px;
        
       
    }
    
    #PersonalBilder2{
        grid-area: PB2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }
    
    .PersonalKort{
        display: flex;
        justify-content: center;
        width: 250px;
        height: 400px;
        border: #000000 solid 2px;
        border-radius: 10px;
        background-image: url(../img/ElliotCV.jpg);
        background-size: 100% 100%;
        margin-bottom: 70px;
        
    }

    #Titel{
        color: #e5e5e5;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3rem;
        margin-left: 8%;
    }

    #ChipIcon{
        visibility: visible;
        position: absolute;
        left: 50px;
        width: 80px;
        height: 80px;
    }

    #ChipIcon:hover{
        cursor: pointer;
        transform: rotate(360deg);
        transition: 0.5s ease;

    }

    #linesection{
        background-color: #fca311;
        grid-area: ls;
        position: fixed;
        top: 80px;
        width: 100%;
        height: 5px;
    }

    header{
        display: flex;
        flex-direction: row;
        background-color:#000000;
        grid-area: he;
        position: fixed;
        top: 0;
        width: 100%;

    }

    #sec1{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-image: url("../img/HeaderBackgroundImage.jpg");
        grid-area: se1;
    }

    #BildText1{
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        color: #e5e5e5;
        bottom: 95px;
        right: 71%;
        
    }
    
    #BildText2{
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        color: #e5e5e5;
        top: 160px;
        left: 600px;
        z-index: 1;
    }

    #FacebookIcon:hover{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
    #InstagramIcon:hover{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
    #TwitterIcon:hover{
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    
    #links{
        position: static;
        display: flex;
        width: 100%;
        height: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
    }

    #FoldedCardsImg{
        width: 550px;
        height: auto;
        justify-self: center;
        align-self: center;
        
    }

    #BildSektion1{
        grid-area: bs1;
        display: flex;
        flex-direction: row;

    }
    
    
    #CardSpringImg{
        width: 550px;
        height: auto;
        justify-self: center;
        align-self: center;
        z-index: 0;
        
    }

   


}
